
.board-space {
    background-color: red;
}

.board-holder {
    display: grid;
    grid-template-rows: repeat(10, 40px);
    grid-template-columns: repeat(10, 40px);
    gap: 1px;
}

#content {
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
}